@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,700");

// all Colors
$purple: #650360;
$blue: #328fc2;
$darkblue: #1c264a;
$grey: #e7e8e9;

//font-sizes
$base: 14px;

//font weights
$thin: 300;
$normal: 400;
$bold: 700;

//Container widths
$main: 945px;
$footer: 95px;
